[[ -n "${_SETTINGZSH_LOADED_IN_THIS_SHELL:-}" ]] && return 0
typeset -g _SETTINGZSH_LOADED_IN_THIS_SHELL=1

for file in "$HOME"/.config/settingzsh/managed.d/*.zsh(N); do
  [[ -f "$file" ]] && source "$file"
done

for file in "$HOME"/.config/settingzsh/local.d/*.zsh(N); do
  [[ -f "$file" ]] && source "$file"
done
